<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reminder.css">
</head>
<body>
    <table>
        <thead>
    <tr>
        <td>Title</td>
        <td>Discription</td>
        <td>Date & Time</td>
        <td>Action</td>
    </tr>   
    </thead>
    <tbody id="reminderTableBody"></tbody>
    
    </table>
    <script src="/javascripts/reminder.js"></script>
</body>
</html>